#about{
  background-color:rgb(18,13,25);
  color: rgb(220,220,220);
}

#about a{
  color: rgb(210,210,210);
}

#about a:hover{
  color: rgb(255,255,255);
}

.split-screen{
  position:absolute;
  top:45vh;
}

.content-body{
  height:25vw;
  overflow:hidden;
}

.layer{
  width:100vw;
  position: absolute;
}

.top{
  width:50vw;
  z-index: 1;
}

.bottom .content-body{
  background-color: rgb(111,107,140);
  color:black;
}

.top .content-body{
  background-color: rgb(54,36,93);
  color:white;
}

.content-flex{
  display: flex;
}

.content{
  width:20vw;
  height:20vw;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content p, .icon{
  align-self: center;
}

.icon{
  height:13vw;
  width:13vw;
  border-radius:13vw;
  background-size:cover;
  background-repeat: no-repeat;
}

.full-stack{
  background-image:url(/images/logos/full-stack.png);
}

.api{
  background-image:url(/images/logos/api.png);
}

.front-end{
  background-image:url(/images/logos/html.png);
}

.bottom .front-end{
  background-image:url(/images/logos/white-html.png);
}

.ux{
  background-image:url(/images/logos/UX-Icon.png);
  background-size: 100%;
  background-position: 50% 50%;
}

.react{
  background-image:url(/images/logos/react.jpg);
}

.top .icon{
  background-color: rgb(220,220,220);
}

.bottom .icon{
  background-color: rgb(34,34,34);
}

#youtube {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

#youtube-vid{
  opacity: 0.3;
  transition: .5s;
  width: 100%;
  height: 100%;
}

#youtube-vid:hover{
  opacity:1;
}

.flex-on-me{
  margin-top:10vh;
  width:100vw;
  display: flex;
  justify-content: space-around;
}

.my-intro{
  width:30vw;
  padding-left: 2vw;
  border-left:2px solid rgb(220,220,220);
  /*font-size: 2vw;*/
}

.my-intro p{
  font-size: 1.5vw;
}

.my-intro span{
  font-size: 2vw;
  font-weight: bold;
}

@media screen and (max-width: 900px){
  .my-intro p, .content p{
    font-size: 2vw;
  }

.my-intro span{
  font-size: 2.5vw;
  font-weight: bold;
  }
}

.content p{
   text-align: center;
}

.flex-on-me{
  flex-direction: column;
  width: 100vw;
}

.youtube, .my-intro{
  align-self: center;
}

.my-intro {
  width: 80vw;
  margin-bottom: 4vh;
}

#youtube-vid{
  /*width:80%;*/
}


