*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
}

.container{
  height:100vh;
  /*flex: 1;*/
}

.info-image{
  background-image: url(/images/my-photo-copy.jpeg);
  background-size: 100%;
  background-position: 0% 30%;
}

#info{
  background-color: grey;
  background: linear-gradient(to right, rgba(255,255,255,0.9),rgba(255,255,255,0.0) );
}



#thumbnail{
  background-color: rgb(229, 229, 229);
}

#thumbnail:hover{
   /*border-left: 2px solid rgb(72, 0, 49);*/
}

.button{
  height:5vh;
  width:5vh;
  background-size:cover;
  background-repeat: no-repeat;
}

.button-container{
  display:flex;
  width: 13vw;
  justify-content: space-between;
}

 #phone-number, #skype{
  display: flex;
  margin-top:1vh;
 }

 #Phone{
  background-image:url(/images/phone.png);
 }

 #Skype-icon{
  background-image:url(/images/skype.png);
  background-position: 50% 0%;
  /*background-size: 5%*/
 }

 #GitHub{
  background-image:url(/images/mark-github.png);
 }

 #LinkedIn{
  background-image:url(/images/linkedin.png);
  background-size: 110%;
  background-position: 0% 50%;
 }

 #Gmail{
  background-image:url(/images/gmail.png);
  background-size: 90%;
  background-position: 0% 50%;
 }

.name-and-contacts{
  height: 30vh;
  padding-top: 2vh;
  padding-left: 2vh;

}

.flex-background{
  width: 50vw;
  height:40vh;
}

h1,h2{
  margin-bottom: 2vh;
}

h1,h2,h6{
  font-family: 'Comfortaa', cursive;
}
p,button{
  font-family: 'Ubuntu', sans-serif;
}

h1{
  font-size: 6vh;
  font-weight: bold;
  /*text-align: center;*/
}

h2{
  font-size: 4vh;
}


h6{
  font-size: 3vh;
  margin-left: 2vh;
}

#info h6{
  font-size: 2vh;
}

.description{
  margin-top: 5vh;
  height:60vh;
  width:30vw;
  padding:2vw;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left:2px solid rgb(72, 0, 49);
}

.description:hover{
  border-left:2px solid rgb(124, 0, 85);
}

.image{
  height:14vw;
  width:22vw;
  margin: 1vh;
  background-size: cover;
}

.desc-button-container{
  display: flex;
  justify-content: space-around;
  /*margin-bottom: vh;*/
}

button{
  height:5vw;
  width: 8vw;
  background-color: rgba(255,255,255,0.0);
  border:6px solid black;
  font-weight: bold;
  font-size: 2vh;
}

button:hover{
  background-color: rgba(255,255,255,0.3);
  border:6px solid rgb(73, 74, 76);
}

.tech{
  margin-top: 1vh;
  font-weight: bold;
}

.thumbnail-inner{
  height: inherit;
  width: inherit;
  text-align: center;
  text-shadow: 2px 2px rgb(50, 0, 73);
  background-color: rgba(0,0,0,0.5);
  background: radial-gradient(circle,rgba(0,0,0,0.3),rgba(0,0,0,0.7));
  color: white;
  opacity:0;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumbnail-inner:hover{
  opacity: 1;
 }

.image:hover,.thumbnail-inner:hover{
   border-radius: 2vw;
}

.image,#info{
  background-repeat: no-repeat;
}

.thumbnail-collection{
  position:relative;
  display: flex;
  flex-wrap: wrap;
  height:inherit;
  width: inherit;
  padding:1.5vh;
  padding-top: 10vh;
}

@media screen and (max-width: 700px){
  .App{
    flex-direction: column;
  }

  .description{
    width:100vw;
  }
}

