*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
}

.container{
  height:100vh;
  /*flex: 1;*/
}

#info{
  background-color: grey;
  background-image: url(/images/my-photo-copy.jpeg);
  background-size: 100%;
  background-position: 0% 40%;
}

#thumbnail{
  background-color: rgb(229, 229, 229);
  border-left: 2px solid rgb(72, 0, 49);
}

.button{
  height:3vh;
  width:3vh;
  background-color: green
}

.button-container{
  display:flex;
  width: 10vw;
  justify-content: space-between;
}

 #phone-number, #skype{
  display: flex;
  margin-top:1vh;
 }

.name-and-contacts{
  margin-top: 2vh;
  margin-left: 2vh;
}

.flex-background{
  width: 50vw;
  height:40vh;
  display: flex;
  justify-content: center;
}

h1,h2{
  margin-bottom: 1vh;
}


h6{
  /*font-size:*/
  margin-left: 2vh;
}

.description{
  margin-top: 10vh;
  height:60vh;
  width:40vw;
  background-color: rgba(255,255,255,0.7);
  border-radius:2vw;
  padding:5vw;
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left:2px solid rgb(72, 0, 49);
}

.image{
  height:14vw;
  width:22vw;
  margin: 1vh;
  background-size: cover;
}

.desc-button-container{
  background-color: yellow;
  position: relative;
  bottom: 0;
}

.tech{
  margin-top: 1vh;
  font-weight: bolder;
}

.thumbnail-inner{
  height: inherit;
  width: inherit;
  text-align: center;
  text-shadow: 2px 2px rgb(50, 0, 73);
  background-color: rgba(0,0,0,0.5);
  background: radial-gradient(circle,rgba(0,0,0,0.3),rgba(0,0,0,0.7));
  color: white;
  opacity:0;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.thumbnail-inner:hover{
  opacity: 1;
 }

.image:hover,.thumbnail-inner:hover{
   border-radius: 2vw;
}

.image,#info{
  background-repeat: no-repeat;
}

.thumbnail-collection{
  position:relative;
  display: flex;
  flex-wrap: wrap;
  height:inherit;
  width: inherit;
  padding:1.5vh;
  padding-top: 10vh;
}

@media screen and (max-width: 700px){
  .App{
    flex-direction: column;
  }

  .description{
    width:100vw;
  }
}

